/* style.css */

* {
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html{
	background-color: #cae5ff;
	height: 100%; width: 100%;
	margin: 0; padding: 0;
}

body{
	height: 100%; width: 100%;
	min-height: 100%; max-width: 100%;
	margin: 0; padding: 0;
	display: table;
	position:relative;
	background-color: #cae5ff;
	color: #615d6c;
	text-align: left;
	font-size: 1em;
	font-family: Verdana, Georgia, Trebuchet, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

h1{
	color: #7796cb;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin : 15px 0px;
}

h2{
	color: #7796cb;
	text-align: center;
	font-size: 1.5em;
	font-style: oblique;
	margin: 15px 0px;
}

h3{
	color: #7796cb;
	text-align: left;
	font-size: 1.2em;
	margin: 0.5em 0;
}

h4{
	color: #7796cb;
	text-align: left;
	font-size: 1em;
	margin: 0;
}

p{
	text-align: justify;
	line-height: 1.6em;
	margin: 0;
}

.info{
	text-align: center;
	font-style: oblique;
}

hr{
	margin: 20px auto;
	width: 50%;
	height: 3px;
	background-color: #8C8994;
	border: none;
}

a:link{
	color: #8C8994;
	font-style: oblique;
	line-height: 0.5em;
}
a:visited{
	color: #8C8994;
	font-style: oblique;
	line-height: 0.5em;
}
a:hover{
	color: #8C8994;
	font-style: normal;
	line-height: 0.5em;
}

form{
	display:flex;
	justify-content: space-evenly;
	width: 50%;
	min-width: 450px; max-width: 1000px;
}

fieldset{
	border-radius: 2.5%;
	border-color: #8C8994;
	border-style: : 2px;
	padding: 20px 5%; margin : 5px 0px;
	width: 100%;
}

legend {
  background-color: #615d6c; color: #acedff;
  padding: 10px 10px;
  border-radius: 10%; border: none;
  font-size: 1.2em;
  font-style: oblique;
}

label{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 5px 0px;
	line-height: 1em;
	justify-content: space-evenly;
}

.label{
	width: 175px;
	margin: 0px 5px 0px 0px;
}

select, input{
	margin: 0px 0px 0px 5px;
	width: 30%;
	min-width: 15em;
}

.button{
	text-align: center;
	background-color: #615d6c;
	color: #acedff;
	font-size: 1em;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	min-width: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.button:hover{
	background-color: #8C8994;
}

.bottomButton{
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.rightAlign{
	text-align: right;
	margin-right: 10px;
}

.leftAlign{
	text-align: left;
	margin-left: 10px;
}

.center{
	text-align: center;
}

.err{
	width : 100%; min-width: 500px;
	display:flex;
	margin: 20px 0; padding: 5px 0;
	justify-content: center;
	text-align: center;
	background-color: #615d6c;
	color: #acedff;
	font-weight: bold;
}

.hidden{
	visibility:hidden;
}

.hrFine{
	margin: 15px auto;
	width: 50%;
	height: 1.5px;
	background-color: #8C8994;
	border: none;
}

.colonneBody{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.colonne{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: space-evenly;
	width: 100%;
}





/*.long{
	margin: 20px auto;
	width: 100%;
	height: 1px;
	background-color: #8C8994;
	border: none;
}






.column{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: center;
}




.miniature{
	height: 100px;
	width: auto;
}

#conteneur{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center; 
	align-items: flex-start; 
}

#conteneurR{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start; 
	align-items: flex-start;
}

.element{
	margin: 10px 10px 10px 10px;
}

.elementR{
	padding: 20px 20px 50px 50px;
	text-align: left; 
	flex-wrap: nowrap;
}

.size80{
	width:80%;
}
.size40{
	flex:0 0 40%;
}*/


}

